.footer_color {
    background-color: #F9F9FB;
    padding: 80px 130px 120px;
    width: 1620px; 
}

.footer_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.advice {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img_logo_2 {
    background-image: url('../Header/assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 37px;
}


.advice p {
    color: #848484;
    font: 300 18px Inter;
    margin-top: 22px;
    margin-bottom: 25px;
    width: 300px;
}



.variants {
    display: flex;
}

.destinations,
.shop,
.interests {
    display: flex;
    flex-direction: column;
    width: 290px;
}

.destinations h4,
.shop h4,
.interests h4 {
    color: #000;
    font: 700 19px Inter;
    line-height: 60px;
}

.destinations p,
.shop p,
.interests p {
    color: #848484;
    font: 300 18px Inter;
    line-height: 38px;

    &:hover{
        color: black;
    }
}